.container-fluid img {
    margin: 20px;    
    border-radius: 15%;
}

#navbarSupportedContent {
   margin-top: 10px;
}

p > span {
    font-weight: bold;
}

h1 {
    padding: 20px;
    text-align: center;
    background-color: blanchedalmond;
}

#map {
    margin: auto;
    margin-top: 20px;;
    width: 80vw;
    height:80vw;    
}

label {
    margin-top: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.card {
    --bs-card-border-width: 5px;
    --bs-card-inner-border-radius: calc(0.375rem - 5px);
}

@media screen and (min-width: 992px) {
    #navbarSupportedContent {
        margin-bottom: 10px;
    }
}